:root{
	--main-bg-color: #020003;
	--main-nav-color: #9c003a;	
	--nav-button-color: #9f6bf4;
	--cutout-bg-color: #9f6bf4;
}

body{
	background-color: var(--main-bg-color);
	padding: 0px;
	margin: 0px;
}

.cutout{
	background-color:#fff; 
	margin-left: 30vw;	
	width: 100px;
	height: 100px;	
	display: block;
}

#nav{
	position: fixed;
	background-color: var(--main-nav-color);
	width: 15vw;
	height: 100vh;

}

.nametag{
	float: left;
	width: 13vw;
	height: 7vh;
	padding-top: 5vh;
	margin: 2vmin;
	text-align: center;
	background-color: #e15ff3;
	border-radius: 50px;
}

.navbutton{
	float: left;
	width: 13vw;
	height: 7vh;
	padding-top: 5vh;
	margin: 2vmin;
	background-color: var(--nav-button-color);
	text-align: center;
}
