.card {
    height: 60vh;
    width: 60vw;
    background-color: grey;
    text-align: left;
    padding: 30px;
    display: inline-block;
    font-family: inherit;
    border-radius: 20px;
    margin-top: 10vh;
    font-size: 20px;
}
