.card {
    width: 60vw;
    background-color: grey;
    text-align: left;
    padding: 30px;
    padding-top: 10px;
    display: inline-block;
    font-family: inherit;
    border-radius: 20px;
    margin-top: 50px;
    font-size: 20px;
}
