button {
    display: inline;
    background-color: grey;
    width: 130px;
    height: 56px;
    font-size: 20px;
    border: none;
    color: white;
    &:hover {
        background-color: green;
    }
}

.active {
    background-color: blue;
}
