<div class="welcome-bar">
    <h1>{{title}}</h1>
    <div class="intro">
        <p *ngFor="let item of body">
            {{item}}
        </p>
    </div>
    <div class="quick-links">
        <a href="mailto: RebeccaESyria@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"> RebeccaESyria@gmail.com</i></a>
        <br>
        <a href="https://github.com/RebeccaSyria/resume/blob/master/resume.pdf"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Resume</a>
        <br>
        <a href="https://github.com/RebeccaSyria"><i class="fa fa-github" aria-hidden="true"></i> Github</a>
        <br>
        <a href="https://www.linkedin.com/in/rebeccasyria/"><i class="fa fa-linkedin-square" aria-hidden="true"></i> LinkedIn</a>
        <br>
    </div>
</div>