button {
    display: inline;
    background-color: grey;
    width: 300px;
    text-align: left;
    height: 7vh;
    font-size: 40px;
    border: none;
    color: white;
    &:hover {
        background-color: green;
    }
}
ul {
    list-style-type: none;
    background-color: grey;
    margin-top: 0px;
}
