button {
    display: inline;
    background-color: grey;
    text-align: left;
    font-size: 40px;
    border: none;
    color: white;
    &:hover {
        background-color: #218380;
    }
}
ul {
    list-style-type: none;
    background-color: grey;
}
