.navigation {
    list-style-type: none;
    background-color: grey;
 }

.navigation li {
    display: inline;
}

.card {
    text-align: center;
}

@media (max-width: 750px){
    .navigation {
        display: none;
    }
}

.navigation-hamburger {
    text-align: center;
    font-size: 50px;
    background-color: grey;
    width: 100vw;
    margin-top: 16px;
}

@media (min-width: 750px) {
    .navigation-hamburger {
        display: none;
    }
}
