.navigation {
    list-style-type: none;
    background-color: grey;
 }

.navigation li {
    display: inline;
}
ul {
    margin: 0px;
    padding: 0px;
}
.card {
    position: relative;
    text-align: center;
    z-index: 0;
}

@media (max-width: 500px){
    .navigation {
        display: none;
    }
}

.navigation-hamburger {
    position: relative;
    text-align: left;
    font-size: 50px;
    height: 56px;
    background-color: grey;
    width: 100vw;
    z-index: 1;
}

@media (min-width: 500px) {
    .navigation-hamburger {
        display: none;
    }
}
